<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.pf9.pangu.boilerplate.mapper.GroupDictionaryItemAssocMapper">



    <select id="getProductByGroup" parameterType="String" resultType="org.pf9.pangu.boilerplate.entity.DictionaryItem">
        SELECT
          *
        FROM
          he_adm_dictionary_item A
        INNER JOIN
          he_adm_group_dictionaryitem_assoc b ON A.ID = b.d_id
          AND g_code = #{groupCode}
    </select>


</mapper>