<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.pf9.pangu.boilerplate.mapper.UserMapper">

    <resultMap id="userMap" type="org.pf9.pangu.boilerplate.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="login" property="login" jdbcType="VARCHAR"/>
        <result column="password_hash" property="password" jdbcType="VARCHAR"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="is_activated" property="activated" jdbcType="BIT"/>
        <result column="lang_key" property="langKey" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="activation_key" property="activationKey" jdbcType="VARCHAR"/>
        <result column="reset_key" property="resetKey" jdbcType="VARCHAR"/>
        <result column="reset_date" property="resetDate" jdbcType="TIMESTAMP"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="last_modified_date" property="lastModifiedDate" jdbcType="TIMESTAMP"/>
        <result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="findAdminUsers" parameterType="String" resultMap="userMap">
    SELECT
	  A.*
    FROM
	pg_adm_user
	    A LEFT JOIN pg_adm_user_role_assoc b ON A.ID = b.user_id
    WHERE
	    b.role_code = #{roleCode}
    </select>

    <select id="findUserByLogin" parameterType="String" resultMap="userMap">
        SELECT t.*
        FROM pg_adm_user t
        WHERE t.login = #{login}
    </select>

    <delete id="deleteUserById" parameterType="long">
        DELETE FROM pg_adm_user
        WHERE id = #{id}

    </delete>


</mapper>
